body{
    background-color: rgb(9, 9, 65);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    background-color: white;
    color: rgb(9, 9, 65);
    border-radius: 1rem;
    padding: 2rem;
    max-width: 800px;
    margin: 5rem auto;
    text-align: center;
    font-size: 2rem;
}

main>* {
    margin-bottom: 2rem;
    padding: 1rem;
}

label{
    margin-bottom: 1rem;
    display: block;
}

input, button, select{
    font-size: 1.5rem;
    border-radius: .5rem;
    padding: .55rem .85rem;
    background-color: azure;
}

.Fizz{
    background-color: rgb(76, 25, 137);
    color: goldenrod;
    font-family: cursive;
    padding: 2%;
    border-radius: 10px;
}

.Buzz{
    background-color: greenyellow;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2%;
    border-radius: 10px;
}

.FizzBuzz{
    color: blue;
    background-image: url(https://www.wonderparty.it/3089-large_default/tovaglioli-rosa-a-stelline-oro.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 2%;
    border-radius: 10px;
}


